body {
  background-color: black;
}

.noises {
  position:absolute;

  width: 500px;
  height: 500px;

  transform: translate(-10%);
}

.noise_1 {
  position: absolute;
  transform-origin: 60% 65%;
  
  width: 500px;
  height: 500px;



  /* ... */
  background:
    radial-gradient(circle, rgb(255, 88, 88) 0%, rgba(244, 158, 45, 0.991) 20%, rgba(0,0,0,0.8) 60%),
    url(img/grain.svg);

  filter: contrast(140%) brightness(120%) saturate(150%);  


  animation: moveRound 20s ease-in-out 0s infinite alternate;

  mix-blend-mode:screen;

}

.noise_2 {
  position: absolute;
  width: 550px;
  height: 550px;

  /* ... */
  background:
    radial-gradient(circle, rgb(91, 206, 251) 0%, rgb(24, 78, 112) 30%, rgba(0,0,0,0.8) 60%),
    url(img/grain.svg);

  filter: contrast(180%) brightness(120%) saturate(150%);  

  transform-origin: 60% 65%;

  animation: moveRound 15s ease-in-out 1s infinite alternate;

  mix-blend-mode:screen;
}

.noise_3 {
  position: absolute;
  width: 350px;
  height: 350px;



  /* ... */
  background:
    radial-gradient(circle, rgb(135, 255, 135) 0%, rgb(108, 132, 10) 30%, rgba(0,0,0,0.8) 70%),
    url(img/grain.svg);

  filter: contrast(180%) brightness(120%) saturate(150%);  

  transform-origin: 40% 65%;

  animation: moveRound 10s ease-in-out 2s infinite alternate;

  mix-blend-mode:screen;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 700px;
  width: 100%;
}

.miel {
  font-family: 'Fira Code', monospace;
  color: rgb(86, 86, 86);

  width: 320px;
  padding: 12px;

  border-width: 5px;
  border-style: solid;
  border-color: rgba(32, 32, 32, 0.441);

  /* mix-blend-mode:difference; */
  mix-blend-mode: difference;

  border-radius: 20px;

  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

    
  /* background: url(img/slightGrain.svg);
  background-repeat: no-repeat;
  background-size: cover; */

  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  backdrop-filter: blur(30px);
}

.miel .know {
  font-family: 'Fira Code', monospace;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.miel .explain {
  flex: 1;
}

.miel .lst {
  flex: 2;
}

.miel ul {
  padding-left: 23px;
  margin-top: 0px;
  list-style-type: none;
}

.miel h1 {
  align-self: center;
  font-weight: 900;
}

.miel a {
  color: rgb(86, 86, 86);
}

@keyframes moveRound{
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg) translate(200px);
  }
  100% {
    transform: rotate(-100deg);
  }
}